STAGE=[REPLACE WITH YOUR INSTANCENAME]
VERSION=3

# PROJECTS should be a comma-delimited (no space after comma) list.
PROJECTS=

# This is an example set of file info for one file.
# To add more files, just duplicate ALL FOUR LINES to a new set
# Currently, the FILE IDENTIFIER is the PROJECT
[REPLACE WITH YOUR FILE IDENTIFIER]_FILE=[REPLACE WITH YOUR FILENAME].fmp12
[REPLACE WITH YOUR FILE IDENTIFIER]_LOCATION=[REPLACE WITH YOUR SERVER (URL|IP)]
[REPLACE WITH YOUR FILE IDENTIFIER]_USERNAME=[REPLACE WITH YOUR USERNAME]
[REPLACE WITH YOUR FILE IDENTIFIER]_PASSWORD=[REPLACE WITH YOUR PASSWORD]

JWT_SECRET=[REPLACE WITH YOUR JWT SECRET]
TIME_ZONE_DEFAULT=America/Chicago